head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Security-Policy', content="default-src 'self' blob:; media-src 'self' blob:; script-src 'self' 'unsafe-inline' https://download.rtccloud.net https://static.rtccloud.net; connect-src * 'self'; img-src data: 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com data:;")
    title The Dentist is In