<template name="locations.list">
	<table ui green striped table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Contact</th>
				<th>Fax</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
		<tfoot>
			<tr>
				<th colspan="4">
					<a class="ui green right floated small primary labeled icon button">
						<i class="building icon outline"></i> New Location
					</a>
				</th>
			</tr>
		</tfoot>
	</table>
</template>

<template name="_location.row">
	<tr>
		<td>
			
		</td>
	</tr>
</template>
