<template name="resetPassword">
	<div class="ka-top ui center aligned three column stackable page grid">
		<div class="eight wide column">
			<div class="ui large fluid {{#if error}} error {{/if}} {{#if showResult}} success {{/if}} form segment">
				<h2 class="ui center aligned dividing header">
					Reset Password
				</h2>
				<div class="ui info message">
					<ul class="ui list">
						{{#each passwordRequirements}}
							<li class="correct-left">{{this}}</li>
						{{/each}}
						<li class="correct-left">Alternatively use a passphrase (at least 20 characters long).</li>
					</ul>
				</div>
				{{#autoForm schema="Users.resetPasswordSchema" id="resetPassword" template="semanticUI" errorsInLabels=true resetOnSuccess=true trimStrings=false}}
					{{> afQuickField name="newPassword" type="password"}}
					{{> afQuickField name="confirmPassword" type="password"}}
					<button type="submit" class="ui small green right floated labeled button">Reset</button>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>
