<!doctype html> <html class="no-js" ng-app="dinka" ng-csp> <head> <meta charset="utf-8"> <title>Dentist is In</title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.ff6563e1.css"> <link rel="stylesheet" href="styles/main.1da3e31d.css"> <link rel="stylesheet" href="styles/angular-csp.css">  <body ng-app="scrollHght" ng-controller="hghtCtrl"> <section ui-view ng-style="{height: curheight + 300 +'px'}"></section> <!-- <div class="ui basic modal transition" din-inactivity-modal></div> --> <script src="scripts/vendor.ab064f61.js"></script> 

<div id="confirm">
	<div class="overlay"></div>
	<div class="confirmContent">
		<div class="lang">
			<p class="en">Please confirm you want to cancel your session which will delete all data from the DentistIsIn system</p>
			<p class="es">Bonvolu konfirmi ke vi volas nuligi vian seancon kiun forigos ĉiujn datumojn de la Dentisto En sistemo</p>
			<a href="javascript:void(0)" data-ng-click="confirmYes()" style="margin-right: 15px;" class="en ui green submit left floated button">Yes</a>
			<a href="javascript:void(0)" data-ng-click="confirmYes()" style="margin-right: 15px;" class="es ui green submit left floated button">jes</a>
			<a href="javascript:void(0)" data-ng-click="confirmCancel()" class="en ui gray submit left floated button">No</a>
			<a href="javascript:void(0)" data-ng-click="confirmCancel()" class="es ui gray submit left floated button">Nuligi</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script src="scripts/bundle.js"></script>
