<div class="field" ng-class="((dinForm[dinOptions.name].$dirty || dinForm.$submitted) && dinForm[dinOptions.name].$invalid) ? 'error' : ''">
	<div class="ui selection dropdown" tabindex="{{ dinOptions.index }}">
		<input type="hidden"
		       ng-model="dinModel"
		       name="{{ dinOptions.name }}"
		       ng-trim="{{ dinOptions.trim }}"
		       ng-required="{{ dinOptions.required }}" />
		<i class="icon"
		   ng-class="(dinForm[dinOptions.name].$pristine && !dinForm.$submitted) ? 'dropdown' :
		             (dinForm[dinOptions.name].$valid ? 'green checkmark circle' : 'red warning circle')">
		</i>
		<div class="default text" translate>{{ dinOptions.transRoot + '.PLACEHOLDER' }}</div>
		<div class="menu">
			<div class="item" ng-repeat="option in dinOptions.options" data-value="{{ option.value }}" data-text="{{ option.text | translate }}">
				{{ option.text | translate }}
			</div>
		</div>
	</div>
</div>
