<div class="ui basic modal transition" din-inactivity-modal></div>
<div class="ui centered padded page grid">
	<div class="middle aligned row">
		<div class="one wide column ka-nfh"></div>
		<div class="fourteen wide column">
			<div class="ui attached icon message">
				<i class="icon info"></i>
				<div class="content">
					<!--<div class="header">Informed Consent for Telemedicine Consultation Services</div>-->
					<div class="header" translate>HEADER.TITLE</div>
				</div>
			</div>
			<div id="hipaa" class="ui attached segment">
				<h4 class="ui header" translate>H1</h4>
				<p translate>P1</p>
				<ul class="ui list">
					<li translate>I11</li>
					<li translate>I12</li>
					<li translate>I13</li>
					<li translate>I14</li>
				</ul>
				<p translate>P2</p>
				<h4 class="ui header" translate>H2</h4>
				<ul class="ui list">
					<li translate>I21</li>
					<li translate>I22</li>
					<li translate>I23</li>
				</ul>
				<h4 class="ui header" translate>H3</h4>
				<ul class="ui list">
					<li translate>I31</li>
					<li translate>I32</li>
					<li translate>I33</li>
					<li translate>I34</li>
				</ul>
				<h4 class="ui header" translate>H4</h4>
				<ol class="ui list">
					<li translate>I41</li>
					<li translate>I42</li>
					<li translate>I43</li>
					<li translate>I44</li>
					<li translate>I45</li>
					<li translate>I46</li>
					<li translate>I47</li>
				</ol>
				<h4 class="ui center aligned header" translate>H5</h4>
				<p translate>P3</p>
				<p translate>P4</p>
			</div>
			<div class="ui attached segment">
				<button class="ui green submit button" ui-sref="^.code" translate>BACK</button>
			</div>
		</div>
	</div>
</div>
