<!-- <h1 class="header">|Inactivity Alert</h1> -->
<h1 class="header" translate>COMMON.INACTIVITY_ALERT</h1>
<div class="content">
	<div class="image">
		<i class="red warning sign icon"></i>
	</div>
	<div class="description">
		<h3 class="header" translate translate-values="{ timeRemaining: timeRemaining }">
			<!-- |Your session will be automatically closed in {{ timeRemaining }} seconds due to inactivity. To resume your session please move your mouse cursor. -->
			COMMON.INACTIVITY_MESSAGE
		</h3>
	</div>
</div>
