<div id="languageSelect" class="ui two column padded grid">
	<div class="column">
		<div class="ui three column centered grid">
			<div class="middle aligned row">
				<div class="column ka-nfh"></div>
				<div class="center aligned column">
					<h1 class="ui horizontal header divider" translate>ENGLISH</h1>
					<button class="huge ui green submit button" ng-click="changeLanguage('en')" translate>START_EN</button>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui three column centered grid">
			<div class="middle aligned row">
				<div class="column ka-nfh"></div>
				<div class="center aligned column">
					<h1 class="ui horizontal header divider" translate>SPANISH</h1>
					<button class="huge ui green submit button" ng-click="changeLanguage('es')" translate>START_ES</button>
				</div>
			</div>
		</div>
	</div>
</div>
