<div class="ui basic modal transition" din-inactivity-modal></div>
<div class="ui centered padded page grid">
	<div class="middle aligned row">
		<div class="one wide column ka-nfh"></div>
		<div class="fourteen wide column">
			<div class="ui attached icon message">
				<i class="icon info"></i>
				<div class="content">
					<div class="header" translate>HEADER.TITLE</div>
				</div>
			</div>
			<div id="hipaa" class="ui attached segment">
				<h2 class="ui center aligned header" translate>DESCRIPTION</h2>
				<h4 class="ui header" translate>SUMMARY</h4>
				<p translate>P1</p>
				<p translate>P2</p>
				<p translate>P3</p>
				<p translate>P4</p>
				<ul class="ui list">
					<li translate>ITEM1</li>
					<li translate>ITEM2</li>
					<li translate>ITEM3</li>
					<li translate>ITEM4</li>
					<li translate>ITEM5</li>
					<li translate>ITEM6</li>
				</ul>
				<p translate>P5</p>
				<p translate>P6</p>
				<p translate>EFFECTIVE</p>
				<p translate>CONTACT</p>
				<p translate>PHONE</p>
				<h2 class="ui center aligned header" translate>ACKNOWLEDGEMENT</h2>
				<p translate>P7</p>
				<!--<h2 class="ui center aligned header" translate>This notice describes how Medical/Protected Health Information about you may be used and Disclosed and how you can get access to this Information. Please review it carefully.</h2>
				<h2 class="ui center aligned header" translate>DESCRIPTION</h2>
				<h4 class="ui header" translate>SUMMARY</h4>
				<p translate>By law, we are required to provide you with our Notice of Privacy Practices. (NPP)</p>
				<p translate>This notice describes how you medical information may be used and disclosed by us.</p>
				<p translate>It also tells you how you can obtain access to this information. As a patient, you have the following rights:</p>
				<ul class="ui list">
					<li translate>The right to inspect and copy your information;</li>
					<li translate>The right to request corrections to your information;</li>
					<li translate>The right to request that your information be restricted;</li>
					<li translate>The right to request confidential communications;</li>
					<li translate>The right to report of disclosures of your information, and</li>
					<li translate>The right to paper copy of this notice.</li>
				</ul>
				<p translate>We want to assure you that your medical/protected health information is secure with us. This Notice contains information about how we will insure that your information remains private.</p>
				<p translate>If you have any questions about this notice, the name and phone number of our contact person is listed on this page.</p>
				<p translate>Effective date of this notice: June 1, 2015</p>
				<p translate>Contact person: Michael Sigler</p>
				<p translate>Phone number: 816-550-2615</p>
				<h2 class="ui center aligned header" translate>Acknowledgment of Notice of Privacy practices:</h2>
				<p translate>By checking the box, I hereby acknowledge that I have received a copy of the Notice of Privacy Practices. I understand that if I have questions or complaints about my privacy rights I can Contact the person listed above. I further understand that The Dentist Is IN will offer the updates to this Notice of Privacy Practices should it be amended, modified or changed in any way.</p>-->
			</div>
			 <div class="ui attached segment">
				<button class="ui green submit button" ui-sref="^.code" translate>BACK</button>
			</div>
		</div>
	</div>
</div>
