<div class="ui centered padded grid">
	<div class="middle aligned row">
		<div class="two wide column ka-nfh"></div>
		<div class="twelve wide center aligned column">
			<!-- <div class="ui inverted dimmer" ng-class="{active: waitingOnRequest}"><div class="ui loader"></div></div> -->
			<h1 class="ui header" translate>SKIP.HEADER</h1>
			<button class="huge ui green submit button" ng-class="{loading: waitingOnRequest}" ng-click="skip()" translate>SKIP.NO_THANKS</button>
			<button class="huge ui green submit button" ng-class="{loading: waitingOnRequest}" ng-click="survey()" translate>SKIP.OKAY</button>
		</div>
	</div>
</div>
